.this-website-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.this-website-navbar {
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: #151515;
}

.this-website-navbar-interactive {
  width: 100%;
  height: 66px;
  display: flex;
  max-width: 1280px;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: 11px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}

.this-website-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}

.this-website-company {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}

.this-website-items {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}

.this-website-links {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}

.this-website-navlink {
  text-decoration: none;
}

.this-website-navlink1 {
  text-decoration: none;
}

.this-website-hero {
  width: 100%;
  height: 1079px;
  display: flex;
  opacity: 1;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-size: cover;
  background-image: url("public/thiswebsitehero.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.this-website-header {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  max-width: 1280px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}

.this-website-title {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 80px;
  max-width: 895px;
  font-weight: normal;
  line-height: 36px;
  text-transform: uppercase;
}

.this-website-description {
  color: rgb(255, 255, 255);
  width: 70%;
  height: 2511px;
  font-size: 24px;
  max-width: 1280px;
  line-height: 36px;
}

.this-website-portfolio {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: #151515;
}

.this-website-container2 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  max-width: 1280px;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: flex-start;
}

.this-website-description1 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 24px;
  max-width: 800px;
  line-height: 36px;
}

.this-website-list {
  color: rgb(188, 188, 188);
  width: 100%;
  font-size: 20px;
  max-width: 800px;
  line-height: 36px;
}

.this-website-links1 {
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: #151515;
}

.this-website-container3 {
  display: flex;
  align-self: stretch;
  align-items: center;
  margin-left: var(--dl-space-space-threeunits);
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: #ffffff;
  border-width: 1px;
  margin-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  border-left-width: 0px;
  border-right-width: 0px;
}

.this-website-links {
  font-style: normal;
  font-weight: 900;
  text-decoration: none;
}

.this-website-footer {
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: #151515;
}

.this-website-footer-text {
  color: #ffffff;
}

@media(max-width: 1200px) {
  .this-website-navbar {
    top: 0px;
    left: 0px;
    position: absolute;
  }

  .this-website-description {
    color: rgb(255, 255, 255);
    height: 306px;
  }

  .this-website-portfolio {
    height: auto;
    padding-bottom: 0px;
  }

  .this-website-container2 {
    height: auto;
  }

  .this-website-description1 {
    color: rgb(255, 255, 255);
    width: 70%;
    font-size: 24px;
    max-width: 1280px;
    line-height: 36px;
  }

  .this-website-links1 {
    border-color: #000000;
  }

  .this-website-container3 {
    align-self: stretch;
    margin-left: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-oneandhalfunits);
    border-color: #ffffff;
    border-width: 1px;
    margin-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-top-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
  }

}

@media(max-width: 991px) {
  .this-website-navbar-interactive {
    padding-top: var(--dl-space-space-unit);
    border-width: 0px;
  }

  .this-website-navlink1 {
    font-size: 18px;
    text-decoration: none;
  }

  .this-website-header {
    height: 100%;
    padding-bottom: var(--dl-space-space-fiveunits);
    justify-content: flex-start;
  }

  .this-website-title {
    color: rgb(255, 255, 255);
  }

  .this-website-description {
    color: rgb(255, 255, 255);
    font-size: 24px;
    line-height: 36px;
  }
}

.this-website-portfolio {
  height: auto;
  padding-top: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-fourunits);
}

.this-website-container2 {
  height: auto;
}

.this-website-description1 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  line-height: 36px;
}

@media(max-width: 767px) {
  .this-website-navbar-interactive {
    padding-top: var(--dl-space-space-unit);
  }

  .this-website-company {
    font-size: 18px;
    line-height: 20px;
  }

  .this-website-navlink1 {
    font-size: 18px;
    text-decoration: none;
  }

  .this-website-header {
    padding-bottom: var(--dl-space-space-fiveunits);
  }

  .this-website-title {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: normal;
    line-height: 36px;
    text-transform: uppercase;
  }

  .this-website-portfolio {
    padding-top: 120px;
  }

  .this-website-description {
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 36px;
  }

  .this-website-description {
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 36px;
  }
}

@media(max-width: 479px) {
  .this-website-navbar-interactive {
    border-width: 0px;
  }

  .this-website-company {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  .this-website-navlink1 {
    font-size: 18px;
    text-decoration: none;
  }

  .this-website-title {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: normal;
    line-height: 36px;
    text-transform: uppercase;
  }
}